
@{
    ViewBag.Title = "About";
}

<div class="row">
	<div class="col-sm-2">
		<img class="img-circle" src="~/Images/victoria.jpg" alt="Photograph of Victoria Felice" width="140" height="152">
	</div>

	<div class="col-sm-9 col-sm-offset-1"">
		<h2>About</h2>
		<p>My name is Victoria Felice and I am a front end web developer, living in Louisville, Kentucky, United States. I specialize in creating dynamic, beautiful and fully responsive web pages and I absolutely love what I do! When I am not designing web pages, I enjoy taking pictures with my DSLR camera, solving math problems, learning new programming languages, and blogging.</p>
	</div>
</div>
