
@{
	ViewBag.Title = "Portfolio";
}

<h2>Portfolio</h2>

<div class="row">
	<div class="col-sm-4">
		<a href="http://victoriafelice.github.io/LaCasitaCenter/" target="_blank">
			<img class="img-responsive img-thumbnail" src="~/Images/image01.png" alt="screenshot of La Casita Center entry page">
		</a>
		<p>2015 CodeLouisville graduation project.</p>
	</div>

	<div class="col-sm-4">
		<a href="http://victoriafelice.github.io/LaCasitaCenter/home.html" target="_blank">
			<img class="img-responsive img-thumbnail" src="~/Images/image02.png" alt="screenshot of La Casita Center home page">
		</a>
		<p>La Casita Center home page. This is an ongoing project</p>
	</div>

	<div class="col-sm-4">
		<a href="http://victoriafelice.github.io/onePageWebsite/" target="_blank">
			<img class="img-responsive img-thumbnail" src="~/Images/image03.png" alt="screenshot of one-page website template">
		</a>
		<p>One-Page Website template.</p>
	</div>
</div> @*end row*@

<div class="row">
	<div class="col-sm-4">
		<a href="~/Images/image04.jpg" target="_blank">
			<img class="img-responsive img-thumbnail" src="~/Images/image04.jpg" alt="screenshot of 2009 website for a martial arts school">
		</a>
		<p>2009 web project for a martial arts school.</p>
	</div>
	<div class="col-sm-4">
		<a href="~/Images/image05.png" target="_blank">
			<img class="img-responsive img-thumbnail" src="~/Images/image05.png" alt="screenshot of flash website for an IT company">
		</a>
		<p>2008 Flash website for an IT company.</p>
	</div>
	<div class="col-sm-4">
		<a href="~/Images/image06.jpg" target="_blank">
			<img class="img-responsive img-thumbnail" src="~/Images/image06.jpg" alt="screenshot of flash introduction page for a country singer">
		</a>
		<p>2008 Flash introduction page for a country singer.</p>
	</div>
</div> @*end row*@